@import "tailwindcss";

@theme {
  --color-primary-blue: #e0f2fe;
  /* Light Blue */
  --color-primary-yellow: #fef9c3;
  /* Light Yellow */
  --color-primary-pink: #fce7f3;
  /* Light Pink */
}

:root {
  --bg-app: #ffffff;
  --bg-sidebar: #f8fafc;
  --text-main: #1e293b;
  --border-color: #e2e8f0;
  --chat-ai-bg: #f1f5f9;
  --chat-user-bg: #e0f2fe;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  --bg-app: #0f172a;
  --bg-sidebar: #020617;
  --text-main: #f8fafc;
  --border-color: #1e293b;
  --chat-ai-bg: #1e293b;
  --chat-user-bg: #0369a1;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--bg-app);
  color: var(--text-main);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 10px;
}